<nav class="align-items-center navbar navbar-expand-lg navbar-light">
    <div class="container-fluid" id="navbarContent">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="row collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mx-auto mb-2 col-lg-12">
          <li class="nav-item col-6 col-lg-2 mx-auto">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarContent" routerLink="/">Criar Lista</a>
          </li>
          
          <li class="nav-item col-6 col-lg-2 mx-auto">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarContent" routerLink="/all-lists">Efetuar Compra</a>
          </li>
          
          <li class="nav-item col-6 col-lg-2 mx-auto">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarContent" routerLink="/finished-market-list-all">Ver Compras</a>
          </li>        

          <li class="nav-item col-6 col-lg-2 mx-auto auth" id="register-link">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarContent" routerLink="/register">Registrar</a>
          </li>

          <li class="nav-item col-6 col-lg-2 mx-auto auth" id="login-link">
            <a class="nav-link" data-bs-toggle="collapse" data-bs-target="#navbarContent" routerLink="/login">Login</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>
  