#navbarContent {
    text-align: center;
    
    .nav-link {
      margin-top: 1em;
      font-weight: 700;
      background-color: rgba(43, 42, 8, 0.5);
      align-self: center;
    }
}

@media screen and (min-width:768px)  {
  #navbarContent {
    margin: auto;
    align-items: center;
    padding: 0;

    .nav-item {
      margin: 0;
      justify-items: center;
    }
    .nav-link {
      background-color: unset;
      
      &:hover {
        background-color: rgba(43, 42, 8, 0.5);;
      }
    }
    
  }
}