<div class="all-content">
    <div class="about-page">
        <h1 class="text-center">Sobre:</h1>
        <p>Bem vindo ao <b>Market List</b>!</p>
        <p>Esta aplicação está sendo projetada como um módulo do <b>PAM (Personal Account Manager)</b></p>
        <p>O objetivo deste módulo em específico é o <b>gerenciamento de listas de compras em geral</b> (apesar do nome)</p>
        <p>Fique a vontade para compartilhar sugestões, duvidas e críticas construtivas!</p>
        <h2 class="text-center">Porque utilizar?</h2>
        <p>O <b>Market List</b> irá te ajudar a gerenciar suas listas, atualizando valores, salvando as informações e, futuramente, integrando com o PAM.</p>
        <p>Outra funcionalidade pretendida será o <b>"exportar lista(s)"</b>, onde você receberá uma versão local (em seu PC) de um arquivo em <b>formato de planilha</b>,</p>
        <p>Essa funcionalidade também irá ter um <b>processamento dos dados, provendo insights valiosos sobre as despesas analisadas</b>.</p>
    </div>

    <div class="how-to-use">
        <h1 class="text-center">Como utilizar a aplicação?</h1>
        <h4 class="registrar">Registro de usuário:</h4>
        <p>Para utilizar a aplicação, basta navegar até a aba de <b>"Registrar"</b> no menu lateral esquerdo (ou navbar se estiver via dispositivo maior).</p>
        <p>Lá você poderá <b>registrar seu usuário</b>. O vinculo com e-mail está desabilitado, por enquanto.</p>
        <h4>Criar lista:</h4>
        <p>Após registrar seu usuário, você poderá acessar a tela de <b>"Criar Listas"</b>, onde poderá criar suas listas de compras.</p>
        <p>O objetivo dessa tela é que você pense antes de se locomover até o local da compra, não precisa incluir valores ainda</p>
        <p>Esse objetivo é uma sugestão apenas. Você poderá adicionar e remover itens nos próximos passos.</p>
        <h4>Gerenciar listas abertas:</h4>
        <p>Após criar suas listas, você poderá acessar a tela de <b>"Efetuar Compra"</b>, onde poderá ver todas as listas criadas.</p>
        <p>Nessa tela você poderá selecionar uma <b>lista para edição</b></p>
        <p>O objetivo dessa tela (apenas sugestão) seria que você entrasse enquanto está no local da compra, preenchendo os dados de acordo com o que está sendo visto fisicamente.</p>
        <p>Ao identificar a lista que quer editar, basta clicar no botão com imagem de <b>carrinho de compras</b>.</p>
        <h4>Gerenciar Lista:</h4>
        <p>Selecionando a lista, você será redirecionado para a visão da lista indivualmente</p>
        <p>Nessa tela você poderá <b>adicionar itens</b> às listas criadas, <b>remover itens, editar itens, salvar lista e finalizar lista</b>.</p>
        <p>Ao adicionar itens, você poderá incluir o <b>nome do item</b>, a <b>quantidade</b> e o <b>valor unitário</b>.</p>
        <p>Após edição de itens com dados válidos, é <b>necessário salvar a lista, antes da finalização</b>.</p>
        <p>Após <b>salvar a lista válida</b>, você pode finalizar a lista de compra.</p>
        <p>Ao finalizar a lista, você não poderá mais editá-la, mas poderá visualizá-la na tela de listas finalizadas.</p>
        <h4>Listas finalizadas:</h4>
        <p>Após finalização da lista, você será redirecionado para a tela de listas abertas.</p>
        <p>Nessa tela, você poderá navegar até a aba de <b>"Listas Finalizadas"</b>, onde poderá ver todas as listas que já foram finalizadas.</p>
        <p>Nessa tela, você poderá apenas visualizar as listas finalizadas, não sendo possível editá-las.</p>
    </div>
</div>