<div *ngIf="list" class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h4>{{ list.description }}</h4>
        <p class="text-muted">Encerrada em: {{ list.date | date:'dd/MM/yy' }}</p>
        <h5>Total: {{ list.totalValue | currency:'BRL' }}</h5>
      </div>
      <div class="card-body">
        <h6>Itens:</h6>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of list.items">
            {{ item.name }} - {{ item.quantity }} ({{ item.price | currency:'BRL' }})
          </li>
        </ul>
      </div>
    </div>
  </div>
  