.btn-success {
    max-width: 90%;
}

.btn {
    font-weight: 600;
}

label {
    font-weight: 800;
}

li {
    background-color: rgba(200, 200, 230, .8);
    border: .2em solid rgba(240, 230, 235, .5);
}