#total-value {
    background-color: rgba(230, 230, 220, .8);
    color: black;
}

.container h2 {
    background-color: rgba(5, 39, 90, 0.3);
    color: rgba(124, 189, 201, 0.671);
    font-weight: 800;
}