* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(43, 42, 8, 0.8);
    color: rgba(200, 200, 200, .4)
}